 /* Add CSS styles here */
/*         body {
            background-image: url('images/bg.jpeg'); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .content {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8); 
            text-align: center;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 10px;
            background-color: #007bff; /* Blue button */
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        } */


/* navbar */
  /* Custom CSS to style the transparent navbar */
  .navbar {
	background-color: rgb(255 255 255 / 70%);
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
}

.navbar .container {
	padding: 5px 15px;
}

.navbar .logo {
	height: 70px;
	/* Set the height of your logo */
	/* Add other styles for the logo as needed */
}

.fixed-top {
	position: absolute !important;
	top: 30px;
	right: 0;
	left: 0;
	z-index: 1030;
}
.navbar li.nav-item {
padding-right: 2rem;
}
.navbar-light .navbar-nav .nav-link {
	color: black;
}
/* end */


/* .home carousel start */

.home .carousel-item {
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.home .carousel-item:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.home .carousel-item .container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.home .carousel-item h1 {
	font-size: 80px;
	color: #ffffff;
	margin: 0 0 10px;
	opacity: 0;
}

.home .carousel-item p {
	font-size: 22px;
	margin: 0;
	color: #eeeeee;
	opacity: 0;
}

.home .carousel-item.active h1 {
	animation: fadeInLeft 0.5s ease forwards;
}

.home .carousel-item.active p {
	animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.home .carousel-controls {
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 10;
	transform: translateX(-50%);
}

.home .carousel-indicators {
	position: relative;
	margin: 0;
}

.home .carousel-indicators li {
	height: 70px;
	width: 70px;
	margin: 0 5px;
	/* border-radius: 50%; */
	background-position: center;
	background-size: cover;
	border: 3px solid transparent;
	transition: all 0.3s ease;
}

.home .carousel-indicators li.active {
	border-color: #ffffff;
	/* transform: scale(1.1); */
}

.home .carousel-control-next,
.home .carousel-control-prev {
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.3s ease;
}

.home .carousel-control-next:hover,
.home .carousel-control-prev:hover {
	box-shadow: 0 0 10px #ffffff;
}

.home .carousel-control-next img,
.home .carousel-control-prev img {
	width: 30px;
}

.home .carousel-control-next {
	right: -90px;
}

.home .carousel-control-prev {
	left: -90px;
}

/*responsive*/
@media(max-width: 767px) {

	.home .carousel-control-next,
	.home .carousel-control-prev {
		display: none;
	}

	.home .carousel-indicators li {
		height: 60px;
		width: 60px;
	}

	.home .carousel-item h1 {
		font-size: 45px;
	}

	.home .carousel-item p {
		font-size: 22px;
	}
}

/*home  end .carousel */

/* about us section start  home page*/
  /* about us section */
  .ltn__feature-icon img {
	width: 50px;
	height: 50px;
}

 .Abou-us {
	padding: 60px 40px;
}

.Abou-us a{
	font-size: 16px;
	float: right;
	color: black;
}

.Abou-us h2 {
    font-size: 33px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

 .Abou-us p.hd{
	font-size: 17px;
	color: #617582;
	letter-spacing: .1rem;
}

.Abou-us p {
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 0;
}

.ltn__feature-item-3 h4 {
    margin-left: 10%;
    margin-top: 20px;
    /* margin-left: 20%; */
    float: left;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
}


.ltn__feature-item-3 {
	margin-top: 40px;
    padding-bottom:22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
	width: 80%;
	/* height: 15vh; */
	background: #fff;
	box-shadow: 0px 0px 9px 7px rgb(231 231 231 / 77%);
    /* border: 2px solid;
    border-color: #f4faff; */
    /* margin-bottom: 20px; */
    /* position: relative; */
	border-radius: 6px;
}

.ltn__feature-item-3 p{
	margin-left: 10%;
	float: left;
	font-size: 14px;
	font-weight: 100;
}
.ltn__feature-item-3 .ltn__feature-icon {
    /* margin: 0px 20px 0 0; */
	padding: 0 0 0 40px;
	margin-top: 20px;
    font-size: 30px;
    color: orange;
 
}
/* end */


/* gallery */
  /* tabs */

  section.photos {
	padding: 20px 40px 60px;
}

.tab-content img {
	width: 100%;
}

section.photos .nav-pills .nav-link.active,
section.photos .nav-pills .show>.nav-link {
	background: none;
	color: black;
	border: none;
}

section.photos .nav-pills .nav-link {
	border-radius: 0 !important;
	background: none;
	border: none;
}

section.photos .nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	justify-content: center;
}

section.photos .nav-link.active {
	border-bottom: 2px solid black !important;
	/* Replace 'your-desired-color' with the color you want for the line */
}

section.photos button:focus {
	outline: none;
}

section.photos .nav-link {
	transition: color .5s ease-in-out;
}

section.photos .tab-content img {
	width: 80%;
	height: auto;
}

section.photos .tab-content>.tab-pane {
	text-align: center;
}

section.photos .ph-info.text-center p {
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
	color: #d74740;
}

section.photos .ph-info.text-center h2 {
	font-weight: 700;
	letter-spacing: 1px;
}
/* end */

/* projects */
 /* projects */
 section.projects .p-text {
	color: #e2e2e2;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 1px;
}

section.projects h2 {
	font-family: times new roman;
	font-weight: 800;
	color: white;
	letter-spacing: 1px;
}

section.projects .col-md-4.project-info h4 {
	text-align: center;
	margin-top: 8rem;
	font-size: 2rem;
}

section.projects .col-md-4.project-info p {
	text-align: center;
	font-size: 1.1rem;
	font-weight: 100;
	line-height: 2rem;
	margin-top: 1.2rem;

	padding-right: 0.7rem;
}
 section.projects .carousel-indicators {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin-right: 15%;
	margin-left: 15%;
	list-style: none;
	display: none;
}

section.projects {
	padding: 60px 40px;
	position: relative;
	background: url(img/gallery.png)no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	height: 60vh;
	z-index: 1;
}

section.projects::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: .6;
	z-index: -1;
}

section.projects .carousel-control-next,
section.projects .carousel-control-prev {
	position: absolute;
	top: -64px;
	bottom: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3%;
	height: 40px;
	padding: 6px;
	color: #fff;
	border-radius: 4px;
	background: white;
	text-align: center;
	opacity: 1 !important;
	transition: opacity .15s ease;
}

section.projects .carousel-control-prev {
	left: 1100px !important;
}

section.projects .carousel-control-next {
	right: 120px;
}

section.projects .carousel-inner {
	background: white;
	border: 20px solid white;
	position: relative;
	width: 100%;
	overflow: hidden;
	/* padding: 20px 30px 20px 20px; */
	box-shadow: 0px 0px 20px 0px #969696;
	height: 60vh;
}

section.projects .col-md-4.project-info {
	background: #e0dddb;
	/* width: 32.5%; */
}

/* end */

/* our services section start  home page*/
 
.services {
	padding: 20px 40px;
	margin-top: 15rem;
}

.services h3 {
	text-align: center;
	font-size: 20px;
	color: #617582;
}

.services h4 {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: times new roman;
}

.services .card {
	margin-top: 25px;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
}

.services .card h5 {
	margin-top: 5px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.services  .card p {
	text-align: center;
	font-size: 16px;
}

.services .card i {
	margin-top: 15px;
	font-size: 30px;
	margin-left: 45%;
}

/* our services section end */

/* tessimonial section start home page */
.testi {
	padding: 80px 40px;
}

.testi-head h2 {
	font-size: 20px;
	font-weight: bold;
	color: gray;
}

.testi-head h3 {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: .1rem;
}

.attach {
	margin-top: -10%;
	position: relative;
	background: url(img/home2.jpg)no-repeat center;
	background-size: cover;
	z-index: -1;
	color: white;
	height: 55vh;
	background-attachment: fixed;
}

.attach:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: .5;
	z-index: -1;
}

.test-data {
	margin-left: 20px;
	width: 85%;
	height: 45vh;
	background: #fff;
	box-shadow: 0 5px 10px rgba(3, 3, 3, 0.1);
	padding: 30px 40px;
	/* margin: 0 20px 0 0; */
	/* border-radius: 12px; */
}

.test-data p {
   text-align: center;
	font-size: 18px;
}

.Area img {
	margin-top: 15px;
	margin-left: 20px;
	border-radius: 50%;
	object-fit: cover;
	width: 70px;
	height: 70px;
}

.Area {
	display: flex;
}

.Area h2 {
	margin-left: 15px;
	margin-top: 30px;
	font-size: 16px;
}

.Area p {
	margin-top: 50px;
	font-size: 16px;
	margin-left: -21%;
}
/* testimonials */
section.testi .client-name.d-flex img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

section.testi .div-test-icon {
	position: relative;
}

section.testi .div-test-icon img {
	position: absolute;
	width: 20px;
	height: auto;
	top: -200px;
	right: -20px;
}

section.testi .carousel-indicators li {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 6px;
	height: 6px;
	border-radius: 50px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	border: 2px solid #617582;
	/* background-color: transparent; */
	background-clip: padding-box;
	/* border-top: 10px solid transparent; */
	/* border-bottom: 10px solid transparent; */
	opacity: .5;
	transition: opacity .6s ease;
}

section.testi .carousel-indicators {
	width: 35%;
}

section.testi .carousel-indicators .active {
	opacity: 1;
	background: #617582;
}

section.testi .title {
	margin-left: 1.5rem;
}

section.testi .carousel-inner {
	position: relative;
	width: 65%;
	height: 35vh;
	padding: 30px;
	overflow: hidden;
	background: white;
	box-shadow: 0px 0px 4px 1px #bababa;
	z-index: 1;
	margin-top: 2rem;
	border-radius: 5px;
}
/* end */
/* tessimonial section end */



/* 
footer section start */
footer {
	background: #e8ecee;
    padding: 20px 40px;
}
.ftr-logo.d-flex img {
    width: 200px;
    height: auto;
    margin-bottom: 2rem;
}
.ftr-logo.d-flex {
    justify-content: center;
}
.address p {
    color: black;
    /* margin-top: -30px; */
    font-size: 18px;
    /* font-family: 'Times New Roman', Times, serif; */
    /* letter-spacing: .1rem; */
    margin-left: 30px;
}

.ftr-logo {
    /* margin: 0 auto; */
    text-align: center;
}
.ftr-logo img {
    width: 40%;
    height: auto;
}
.social-info {
    text-align: center;
    margin-top: 1rem;
}
.social-info a {
	margin-top: 15px;
	text-decoration: none;
	cursor: pointer;
    font-size: 1.4rem;
    padding: .8rem;
}

.social-info i {
	color: black;
	/* letter-spacing: .5rem; */
	/* font-size: 16px; */
	cursor: pointer;
	transition: 0.5s;
}

.social-info i:hover {
	color: firebrick;
	transform: scale(1.1);
}
.social-icons.d-flex {
    justify-content: center;
}
p.link a {
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    text-decoration: underline;
}
.copyright {
    margin-top: 1.5rem;
}
.copyright p {
    font-weight: 200;
}
.copyright a {
    font-weight: 700;
    color: black;
    text-decoration: none;
}
/* footer end */

/* home page end */
